@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Garet Book", sans-serif;
}

@font-face {
  font-family: "Cyrillic Goth";
  src: url("../assets/fonts/CyrillicGoth.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Garet Book";
  src: url("../assets/fonts/Garet-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Garet";
  src: url("../assets/fonts/Garet-Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KyivTypeSerif";
  src: url("../assets/fonts/KyivTypeSerif.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.gay::before {
  content: "";
  position: absolute;
  background-image: url(../assets/images/home-page/arrow.svg);
  width: 26px;
  height: 30px;
  left: 0;
  top: 0;
}
